<!doctype html>
<html lang="pt-br">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>Gerenciamento de Usuários</title>
        {% endblock %}
    </head>
    <body>
        {% include 'nav.html' %}
    
        <div class="container">
          {% block content %} {% endblock %}
        </div>

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>